.sider
    .inner-menu 
       ul 
        li 
          a(href=`/${prefix_Admin}/dashboard`) Tông quan
        li 
          a(href=`/${prefix_Admin}/products-category`) Danh mục sản phẩm
        li 
          a(href=`/${prefix_Admin}/products`) Danh sách sản phẩm
        li
          a(href=`/${prefix_Admin}/roles`) Nhóm quyền
        li
         a(href=`/${prefix_Admin}/roles/permissions`) Phân quyền
        li
          a(href=`/${prefix_Admin}/accounts`) Danh sách tài khoản